<% content_for :title do %>
  <title>Services</title>
<% end %>

<br>
<div id="dynamic-services-table" v-cloak>
  <div class="card-inline">
    <div class="card-inline-item card-inline-service">
      <div class="row">
        <div class="col-lg-6">
          <h1>Services</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <%= render "shared/search_vue" %>
        </div>

        <div class="col-lg-6 text-right justify-content-end">
          <button class="btn btn-success" v-on:click="sortServices">Order Services by Rating</button>
          <div class="">
            <% if (!current_user.nil? && current_user.curator?) || (!current_user.nil? && current_user.admin?) %>
              <%= link_to 'Add Service', new_service_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="loading" v-if="loading">
        Loading...
      </div>
      <div class="" v-else>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col" class="text-right">View</th>
                <th scope="col" class="text-right">Documents</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="myTableBody">
              <tr class="toSort" v-for="service in filteredServices" :key="service" v-bind:data-classification="service.service.rating">
                <td>
                    <img v-bind:src="'<%= ENV['S3_CDN'] %>/' + service.service.id + '.png'" width="32"/>
                </td>
                <td>
                  {{ service.service.name }}
                </td>
                <td>{{ service.service.rating }} </td>
                
                <td class="text-right">
                  <a class='btn btn-primary' v-bind:href="'/services/'+ service.service.id"> Details </a>
                </td>
                <td class="text-right">
                  <a class='btn btn-primary' v-bind:href="'/services/'+ service.service.id + '/annotate'"> Annotate </a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
