<% content_for :title do %>
  <title>Services (ToS;DR Phoenix)</title>
<% end %>

<br>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1>Services</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <%= render "shared/search" %>
      </div>

      <div class="col-lg-6 text-right justify-content-end">
        <button class="btn btn-success" id="orderByPoint">Order Services by Rating</button>
        <% if current_user && @services.length==0 %>
          <%= link_to 'Add Service', new_service_path, class: 'btn btn-primary mb15' %>
        <% end %>
      </div>
    </div>
    <br>
    <% if @services.empty? %>
      <p>There are no services to display at this time!</p>
    <% else %>
      <%= render "shared/table_services", services: @services %>
    <% end %>
  </div>
</div>
