<div class="row">
  <div class="col-xs-12">
    <!-- card-inline-header -->
    <div class="card-inline card-inline-header ">
      <div class="card-inline-item">
        Services
      </div>
      <div class="card-inline-item">
        Title
      </div>
      <div class="card-inline-item">
        Changelog
      </div>
      <div class="card-inline-item">
        Who did it?
      </div>
      <div class="card-inline-item">
        Options
      </div>
    </div>
    <!-- actual card-inline -->
    <% if points.empty? %>
    <div class="card-inline">
      <div class="card-inline-item">
        No points found
      </div>
    </div>
    <% else %>
    <div id="points-table-container">
      <% points.each do |p| %>
      <%= p.versions.empty? ? p.versions.changeset : "no changes" %>
      <% end %>
    </div>
    <!-- card-inline-END -->
    <% end %>
  </div>
</div>
</div>
