<header class="tc ph4">
  <h1 class="fw2 mv3">
    All Contributions
  </h1>
</header>

<%= render "shared/search" %>

<div class="row">
  <div class="container card-container">
    <%= render 'table', points: @points %>
  </div>
</div>
