<% if @point.service %>
  <% content_for :title do %>
    <title>New point about <%= @point.service.name %> (ToS;DR Phoenix)</title>
  <% end %>
  <%= render 'full_form', edit: false %>
<% else %>
  <% content_for :title do %>
    <title>Deprecated (ToS;DR Phoenix)</title>
  <% end %>
  <p>To add a new review point, first select the service you want to review, by clicking 'Find a Service' above. You can see the details of a service by first using the Search option, and then clicking the 'eye' icon for the service in question.</p>
  <p>From there you basically have two options, 'Annotate service' at the top will let you select a quote from one of the service's legal documents, and assign a case to that quote. Also, when necessary you can still click 'Add point' there, to add a point that's not related to any specific quote. Please create an issue at <%= link_to 'https://github.com/tosdr/phoenix/issues/new', 'https://github.com/tosdr/phoenix/issues/new' %> if you have any questions about this new work flow!</p>
<% end %>
