<% content_for :title do %>
  <title>New point (ToS;DR Phoenix)</title>
<% end %>
<% if @point.errors.details.empty? %>

  <%= render 'stepped_form' %>

<% else %>

  <%= render 'full_form' %>

<% end %>
