<% content_for :title do %>
  <title>Reviewing point <%= @point.id %> (ToS;DR Phoenix)</title>
<% end %>

<div class="form-login">
  <%= render "review_form", point: @point, queue: @queue, back_path: (@queue ? review_queue_path : nil), submit_label: (@queue ? "Submit and next" : "Submit") %>
</div>
