.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
*.dump
.DS_Store
public/assets
/tosback2
node_modules/
phantomjs

# Ignore application configuration
/config/application.yml
.vs/
.idea
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore coverage
./coverage/*

# Ignore coverage
/coverage/*
