version: '3.9'
services:
  db:
    image: postgres:11.5-alpine
    container_name: db
    hostname: db 
    ports:
      - '127.0.0.1:5432:5432'
    healthcheck:
        test: ["CMD", "pg_isready", "-U", "postgres"]
        interval: 1s
    volumes:
      # Will use db volume and inside to path /var/lib/mysql
      - db:/var/lib/postgresql/data
    networks:
      - dbs
  elasticsearch:
    image: hypothesis/elasticsearch:latest
    ports:
      - '127.0.0.1:9200:9200'
    environment:
      - discovery.type=single-node
    networks:
      - elasticsearch
  ota:
    image: pondersource/tosdr-ota:1.0
    ports:
      - '127.0.0.1:3000:3000'
    networks:
      - dbs
  web:
    tty: true
    stdin_open: true
    build:
      context: ./
      dockerfile: Dockerfile
      target: dev
    ports:
      - 9090:3000
    volumes:
      - ./app:/usr/src/edit.tosdr.org/app/
      - ./lib:/usr/src/edit.tosdr.org/lib/
      - ./db:/usr/src/edit.tosdr.org/db/
      - ./config:/usr/src/edit.tosdr.org/config/
      - ./spec:/usr/src/edit.tosdr.org/spec/
    networks:
      - dbs
      - elasticsearch
    environment:
      - RAILS_ENV=development
      - DATABASE_HOST=db
      - DATABASE_USER=postgres
      - DATABASE_NAME=postgres
      - H_ORIGIN=http://localhost:5000
      - WEB_PORT=9090
      - ELASTICSEARCH_HOST=elasticsearch
      - AUTHORITY=localhost
  # Useful during development: inspect the database at localhost:1337
  adminer:
    image: adminer
    ports:
      - 1337:8080
    environment:
      - RAILS_ENV=development

volumes:
  # Create volume called web for persistent storage
  web:
    # Specify name so it does not append stack name
    name: web
  db:
    name: db
networks:
  dbs:
    # Joins existing network of this name (it was created by db container)
    external: true
    # Specify name so that it does not append stack name
    name: dbs
  elasticsearch:
    external: true
    name: elasticsearch
  engine:
    external: true
    name: engine
