version: '3'
services:
  web:
    tty: true
    stdin_open: true
    build:
      context: ./
    ports:
      - 9090:3000
    volumes:
      - ./app:/usr/src/edit.tosdr.org/app/
      - ./lib:/usr/src/edit.tosdr.org/lib/
      - ./db:/usr/src/edit.tosdr.org/db/
      - ./config:/usr/src/edit.tosdr.org/config/
      - ./spec:/usr/src/edit.tosdr.org/spec/
    networks:
      - dbs
    environment:
      - DATABASE_HOST=db
      - DATABASE_USER=root
      - DATABASE_PASSWORD=dbrootpassword
      - DATABASE_NAME=postgres
      - H_ORIGIN=http://localhost:5000
      - WEB_PORT=9090
  # Useful during development: inspect the database at localhost:1337
  adminer:
    image: adminer
    ports:
      - 1337:8080

volumes:
  # Create volume called web for persistent storage
  web:
    # Specify name so it does not append stack name and become wordpress_wordpress
    name: web
networks:
  dbs:
    # Joins existing network of this name (it was created by db container)
    external: true
    # Specify name so that it does not append stack name
    name: dbs
