<h1>Hi <%= @user.username || "you" %>! Welcome to ToS;DR!</h1>

<p>
  <!-- <%= @greeting %> -->
You're now a confirmed contributor of Terms of Service; Didn't Read crowdreading tool on <a herf="https://edit.tosdr.org">Edit</a> (or Phoenix as we like to call it). If you haven't subscribed to this website, please contact as soon as possible the team at <a mailto="team@tosdr.org">team@tosdr.org</a>.</p>

<p>Please bear in mind that this version is a beta version that is still under development. You can follow the development on <a href="https://github.com/tosdr/phoenix">our github</a> or on our <a href="https://blog.tosdr.org">blog</a>.</p>

<p>It means that things can change, a lot. We will keep you updated if anything on our privacy policy or on our terms of services change. If you have any question please contact our team at <a mailto="team@tosdr.org">team at tosdr org</a> </p>

<p>Happy contributing!</p>
