// Import page-specific CSS files here.
@import "point";
@import "service";
@import "annotate";
@import "topic";
@import "about";
@import "devise";

body {
  padding-top: 70px;
}

ul {
  padding: 0px;
}

.service-title {
  justify-self: flex-start;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

