// Import page-specific CSS files here.
@import "home";
@import "point";
@import "topic";
@import "about";

body {
  padding-top: 70px;
}
ul {
  padding: 0px;
}

.service-list {
  background-color: white;
  padding: 10px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 0.1em solid lightgrey;
  padding: 10px;
}

.service-title {
  justify-self: flex-start;
}

.service-url {
  font-weight: lighter;
}

.service-rating {
  justify-self: flex-end;
}

