.point-holder {
  padding-left: 20px;
  padding-right: 20px;
}

.article-point-header {
  padding-top: 10px;
  font-weight: bolder;
  font-size: larger;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.smaller-title {
  font-size: smaller;
}

.pad-left {
  padding-left: 5rem;
}

.pad-right {
  padding-right: 5rem;
}

.mw6 {
  max-width: 60rem;
}

.bgw {
  background-color: white;
}

.p15 {
  padding: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pl50 {
  padding-left: 50px;
}

.m15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.point-info {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: medium;
}

.point-items {
  display: flex;
  align-items: center;
}

.status-changes {
}

.lighter {
  font-weight: light;
  letter-spacing: 2px;
}

.bolder {
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.point-form-text {
  padding: 15px;
}


