.bgw {
  background-color: white;
}

.p30 {
  padding: 30px;
}

.pl15 {
  padding-left: 15px;
}

.lighter {
  font-weight: light;
  letter-spacing: 2px;
}

.bolder {
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.point-form-text {
  padding: 15px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

