.fw2 {
    font-weight: 200;
}

.lh-copy {
    line-height: 1.5;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.mb15 {
  margin-bottom: 15px;
}
