<% content_for :title do %>
  <title>Topics (ToS;DR Phoenix)</title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1>Topics</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <%= render "shared/search" %>
      </div>
      <div class="col-lg-6 text-right justify-content-end">
        <% if current_user && current_user.curator? %>
          <%= link_to 'Add Topic', new_topic_path, class: 'btn btn-primary smaller-btn-text' %>
        <% end %>
      </div>
    </div>
    <br>
    <% if @topics.empty? %>
      <p>There are no topics to display at this time!</p>
    <% else %>
      <%= render "table", topics: @topics %>
    <% end %>
  </div>
</div>
