<% content_for :title do %>
  <title>Cases (ToS;DR Phoenix)</title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1>Cases</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <%= render "shared/search" %>
      </div>

      <div class="col-lg-6 text-right justify-content-end">
        <% if current_user.curator? %>
          <%= link_to 'Add Case', new_case_path, class: 'btn btn-primary smaller-btn-text' %>
        <% end %>
      </div>
    </div>
    <br>
    <% @topics.each do |t| %>
      <h3><%= t.title %></h3>
      <% if t.cases.empty? %>
          No cases found
      <% else %>
        <%= render "shared/table_cases", cases: t.cases %>
      <% end %>
    <% end %>
  </div>
</div>
