<% content_for :title do %>
  <title>Cases</title>
<% end %>

<div id="dynamic-cases-table" v-cloak>
  <div class="card-inline">
    <div class="card-inline-item card-inline-service">
      <div class="row">
        <div class="col-lg-6">
          <h1>Cases</h1>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <%= render "shared/search_vue" %>
          <div class="mt-2">
            <span class="text-muted" style="font-size: small;">
              Search by title or topic
            </span>
          </div>
        </div>

        <div class="col-lg-6 text-right justify-content-end">
          <% if current_user && current_user.curator %>
            <%= link_to 'Add Case', new_case_path, class: 'btn btn-primary smaller-btn-text' %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="loading" v-if="loading">
        Loading...
      </div>
      <div class="" v-else>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Topic</th>
                <th scope="col" class="text-right">Rating</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="" v-for="c in filteredCases" :key="c">
                <td v-bind:title="c.case.description"><a v-bind:href="'/cases/'+ c.case.id"> {{ c.case.title }} </a></td>
                <td v-bind:title="c.case.topic_id"><a v-bind:href="'/topics/'+ c.case.topic_id"> View Topic </a></td>
                <td v-bind:class="c.pointbox"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
