<h1>Hello <%= current_user.username.nil? ? "you" : current_user.username %>!</h1>

<p>Here is your dashboard:</p>

<%= link_to 'Edit your details', edit_user_registration_path %>

<!-- to do
<p>You have submitted XX points</p>

list the points
-->


