<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
 <p>This is an alpha version, so you might run into problems. If you encounter issues, please <a href="/about#contact" style="color: white; text-decoration: underline;">contact the team</a> or <a href="https://github.com/tosdr/phoenix/issues/new" style="color: white; text-decoration: underline;" title="Report a bug against edit.tosdr.org (Phoenix) on GitHub">report it on GitHub</a>.</p>
</div>
