<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
 <p>This is an alpha version. Adding new services isn't open for new users. For any question, please <a href="/about#contact" style="color: white; text-decoration: underline;">contact the team</a></p>
</div>
