<div class="row">
  <div class="col-xs-12">
    <!-- card-inline-header -->
    <div class="card-inline card-inline-header">
      <div class="card-inline-item card-inline-comment">
        <b>Comments:</b>
      </div>
    </div>
    <!-- actual card-inline -->
    <% if comments.empty? %>
      <div class="card-inline">
        <div class="card-inline-item">
          No comments found
        </div>
      </div>
    <% else %>
      <div>(service comments <a href="https://github.com/tosdr/edit.tosdr.org/issues/906">temporarily disabled</a>)</div>
    <% end %>
  </div>
</div>
