<% if current_page?(points_path) %>
  <% current_path = points_path %>
<% elsif current_page?(topics_path)%>
  <% current_path = topics_path %>
<% elsif current_page?(services_path) %>
  <% current_path = services_path %>
<% elsif current_page?(root_path)%>
  <% current_path = root_path %>
<% end %>

<div id="custom-search-input">
  <div class="input-group col-xs-12">
    <%= form_tag(current_path, method: :get) do %>
      <%= text_field_tag :query, "", class: "search-query form-control", placeholder: "Search" %>

      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-danger button") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
