<div id="custom-search-input">
  <div class="input-group col-md-12">
    <input type="text" class="  search-query form-control" placeholder="Search: Point, Topic, Service..." />
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button">
        <span class=" glyphicon glyphicon-search">

        </span>
      </button>
    </span>
  </div>
</div>
