<div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th scope="col" class="lighter">Service</th>
          <th scope="col" class="lighter">Inspect</th>
          <th scope="col" class="lighter">Web location</th>
          <th scope="col" class="lighter text-right">Annotate</th>
        </tr>
      </thead>
      <tbody>
      <% documents.each do |d| %>
        <tr>
          <td class="small lighter"><%= link_to d.service.name, service_path(d.service) %></td>
          <td class="small"><mark><%= link_to d.document_type ? d.document_type.name : d.name, document_path(d) %></mark></td>
          <td class="small"><%= truncate(d.url, length: 30) %></td>
          <td class="small text-right">
            <%= link_to annotate_service_path(d.service.id) + '?#doc_' + d.id.to_s do %>
              <i class="fa fa-pen"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>