<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Contributions</th>
      <% if current_user && current_user.curator %><th scope="col"># Pending</th><% end %>
      <th></th>
      <th scope="col" class="text-left">Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% cases.each do |c| %>
    <% if c.classification == 'good' %>
      <% pointbox = "point-good" %>
    <% elsif c.classification == 'neutral' %>
      <% pointbox = "point-neutral" %>
    <% elsif c.classification == 'bad' %>
      <% pointbox = "point-bad" %>
    <% elsif c.classification == 'blocker' %>
      <% pointbox = "point-blocker" %>
    <% end %>
    <tr>
      <td><%= link_to c.title, case_path(c), title: "View points connected to this case" %></td>
      <td class="text-center"> <%= c.points.count %></td>
      <% if current_user && current_user.curator %>
        <td><%= link_to c.points.where(status: 'pending').count, case_path(c, status: "pending") %></td>
      <% end %>
      <td></td>
      <td class="<%= pointbox %> text-center"></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
