<div class="title">
  <h2>
    <strong>Terms of Services;</strong> Didn't Read
  </h2>
  <p>
    Know you Rights
  </p>
</div>
<div class="col-xs-12 text-center">
  <%= render "shared/searchbar" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
  </div>
  Rating :
  <div class="card-badge rating-a">a</div>
  <div class="card-badge rating-b">b</div>
  <div class="card-badge rating-c">c</div>
  <div class="card-badge rating-d">d</div>
  <div class="card-badge rating-f">f</div>

</div>


CARD:

<div class="card">
  <div class="card-service">
    SoundCloud
  </div>
  <div class="card-block">
    <div class="card-left">
      <div class="card-left-item card-badge rating-a">a</div>
      <%= link_to "More", "#", class: "btn btn-primary" %>
    </div>
    <div class="card-text">
      <ul>
        <li class="point-good">
          You stay in control of your copyright
        </li>
        <li class="point-neutral">
          Test
        </li>
        <li class="point-good">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores neque sit obcaecati, eaque laborum, quod incidunt nemo, quas, recusandae ex quasi repudiandae modi dolores minus harum ipsam. Quam, dolore delectus!
        </li>
        <li class="point-bad">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, assumenda.
        </li>
        <li class="point-blocker">
          Lorem ipsum dolor sit amet.
        </li>
      </ul>
    </div>
  </div>
</div>
