<div class="title">
  <h2>
    <strong>Terms of Services;</strong> Didn't Read
  </h2>
  <p>
    Know you Rights
  </p>
</div>
<div class="col-xs-12 text-center">
  <%= render "shared/searchbar" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Cards here -->
      .card
    </div>
  </div>
  Rating :
  <div class="card-badge rating-a">a</div>
  <div class="card-badge rating-b">b</div>
  <div class="card-badge rating-c">c</div>
  <div class="card-badge rating-d">d</div>
  <div class="card-badge rating-f">f</div>

</div>
