<div class="title">
  <h2>
    <strong>Terms of Services;</strong> Didn't Read
  </h2>
  <p>
    Know your rights
  </p>
</div>
<div class="col-xs-12 text-center search-bar">
  <%= render "shared/searchbar" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <!-- CARD -->
      <div class="card">
        <div class="card-service">
          SoundCloud
        </div>
        <div class="card-block">
          <div class="card-left">
            <div class="card-left-item card-badge rating-a">a</div>
            <%= link_to "More", "#", class: "btn btn-primary" %>
          </div>
          <div class="card-text">
            <ul>
              <li class="point-good xs-icon">
                You stay in control of your copyright
              </li>
              <li class="point-neutral xs-icon">
                Test
              </li>
              <li class="point-good xs-icon">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores neque sit
              </li>
              <li class="point-bad xs-icon">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, assumenda.
              </li>
              <li class="point-blocker xs-icon">
                Lorem ipsum dolor sit amet.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- CARD-END -->
    </div>
  </div>
</div>

