<% content_for :title do %>
  <title>Editing <%= @document.service.name %> <%= @document.document_type ? @document.document_type.name : @document.name %></title>
<% end %>
<%= render 'form', document: @document, document_names: @document_names, crawlers: @crawlers, services: @services %>
