<% content_for :title do %>
  <title>Commenting on document <%= @document.id %> (ToS;DR Phoenix)</title>
<% end %>
<%= render "shared/comments_form", object: @document, object_comment: @document_comment %>