/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: -10px 0 10px;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
