.holder {
  margin-right: auto;
  margin-left: auto;
  max-width: 40rem;
  border-style: solid;
  border-width: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-header {
  font-size: 1.75rem;
  background-color: #111;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.article-text-holder {
  padding: 1rem;
  border-top-style: solid;
  border-top-width: 1px;
}

.article-text {
  font-size: 1.50rem;
  line-height: 1.5;
  max-width: 50em;
  margin-top: 0;
  margin-bottom: 0;
}
