.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-weight: 100;
  margin: 48px auto;
  width: 80rem;
}

.blog-body {
  margin: 0 auto;
  width: 80%;
}

.blog-summary p {
  color: lighten(#333, 10%);
}

.blog-title {
  font-size: 31px;
  padding: 21px;
  letter-spacing: 0.9px;
  font-weight: 400;
  border-style: solid;
  border-bottom: thick dotted #ff0000;
  color: red;
}

