.card {
  margin: 10px -5px;
  height: 300px;
  min-width: 300px;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: 200ms !important;

  &:hover {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  & .card-service {
    height: 51.25px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.3) ;
    text-overflow: ellipsis;
    overflow: auto;
    border-radius: 4px 4px 0px 0px;
    text-shadow: 0px 1px 2px #01BAEF;
  }
  & .card-block {
    display: flex;
    padding: 10px 10px;

    & .card-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 0 0 70px;
      padding: 20px 10px;
      & .rating-na {
        font-size: 1em;
        padding-top: 24px;
      }
    }
    & .card-left-item {
      margin: 50px 0;
    }
    & .card-text {
      flex: 0 1 auto;
      font-size: 0.9em;
      line-height: 1.07em;
      padding: 5px;
      height: 180px;
      text-overflow: ellipsis;
      overflow: auto;
    }
    & .card-text p {
      margin: 0.5em;
      text-align: justify;
      max-height: 100px;
    }
    & .card-text ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 0 5px;
      & li {
        text-align: justify;
        margin-bottom: 5px;
      }
    }
  }
}

$pointPaddingLeft : 35px;

.xs-icon {
  background-size: 16px;
  background-position: left top !important;
  padding-left: 24px !important;
}
.point-good {
  background-image: image-url("point-good.png");
  background-repeat: no-repeat;
  background-position: left;
}
.point-neutral {
  background-image: image-url("point-neutral.png");
  background-repeat: no-repeat;
  background-position: left;
}
.point-bad {
  background-image: image-url("point-bad.png");
  background-repeat: no-repeat;
  background-position: left;
}
.point-blocker {
  background-image: image-url("point-blocker.png");
  background-repeat: no-repeat;
  background-position: left;
}


.card-badge {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.rating-a {
  background-color: #1BA321;
}
.rating-b {
  background-color: #C7E128;
}
.rating-c {
  background-color: #FFB727;
}
.rating-d {
  background-color: #F26A15;
}
.rating-f {
  background-color: #D02620;
}
.rating-na {
  color: #363636 !important;
  font-weight: lighter;
  background-color: transparent;
}

// Service Rating badge
.service-badge {
  height: 25px;
  width: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0 10px;
  &.rating-na {
    font-size: 0.65em;
    padding-top: 0.5rem;
  }
}

// Card-inline
.container.card-container {
  margin: 0px 0px;
}
.card-inline {
  display: flex;
  font-size: 0.9em;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0;
  padding: 10px 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  & .btn {
  padding: 4px;
}

.box-shadow-for-button {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

}
.card-inline-item {
}
.card-inline:nth-child(even) {
  background-color: #FCFCFC;
}
.card-inline:nth-child(odd) {
  background-color: #F6F6F6;
}
.card-inline:first-child {
  border-radius: 4px 4px 0 0;
}
.card-inline-header {
  margin-top: 0px;
  background-color: #ededed !important;
  & .card-inline-rating {
    padding: 0 5px;
  }
}
.card-inline-vote {
  flex: 0 0 20px;
}
.card-inline-service {
  flex: 1 1 10%;
  padding-right: 5px;
  text-align: left;
  text-overflow: ellipsis;
}
.card-inline-point {
  flex: 1 1 50%;
  padding: 0px 5px;
}
.card-inline-rating {
  flex: 0 0 56px;
  text-align: center;
  padding: 5px 5px 5px 35px;
}
.card-inline-status {
  flex: 0 0 70px;
  text-align: center;
}
.card-inline-featured {
  flex: 0 0 81px;
  text-align: center;
  padding: 0 5px;

}
.card-inline-topic {
  flex: 0 0 80px;
  text-align: center;
}
.card-inline-contribution {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 5px;
  max-width: 120px;
}
.card-inline-url {
  flex: 1 1 auto;
  padding: 0 5px;
  overflow: auto;
}
.card-inline-grade {
  flex: 0 1 64px;
  text-align: center;
  padding: 0 10px;
}
.card-inline-options {
  flex: 0 0 58px;
  text-align: right;
}

// better CSS by attributes
.card-inline-150 {
  flex: 1 1 150px;
  padding-right: 5px;
}
.card-inline-shrink-80 {
  flex: 0 1 80px;
}
.card-inline-shrink-40 {
  flex: 0 1 40px;
}
.card-inline-autogrow {
  flex: 1 1 auto;
  padding: 0 5px;
}


