.form-login {
  background: white;
  width: 60rem;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 50%;
    margin-bottom: 20px
  }
}
