/* Main navbar */
.navbar-tosdr {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .btn-sm {
    font-size: 1em;
    padding: 0 15px;
    font-weight: 400;
    border-radius: 4px;
  }
}

/* Logo */
.navbar-tosdr-brand img {
  height: 32px;
}

/* User Avatar */
.navbar-tosdr .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

// Left section
.navbar-tosdr-left {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .navbar-tosdr-title {
    margin: 0 15px;
    color: black;
    text-decoration: none;
  }
  & .btn-sm {
    margin: 0 10px;
  }
}



/* Right section */
.navbar-tosdr-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .navbar-tosdr-group {
    margin: 0 10px;
  }
}

/* Basic navbar item */
.navbar-tosdr-item {
  cursor: pointer;
  padding: 0 10px;
}

/* Navbar link */
.navbar-tosdr-link {
  color: #616668;
  font-size: 0.9em;
  letter-spacing: 1.3px;
  font-weight: 400;
}
.navbar-tosdr-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-tosdr-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-tosdr-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-tosdr-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-tosdr-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
