#orderByRating {
 border-radius: 25px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
 margin: 5px;
 font-size: 18px;
}

#orderByPoint {
 border-radius: 25px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
 margin: 5px;
 font-size: 18px;
}

