#orderByRating {
 border-radius: 25px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
 margin: 5px;
 font-size: 18px;
}

#orderByPoint {
  border-radius: 25px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 8px;
 padding-bottom: 6px;
 font-size: 18px;
}

#orderByPointOnService {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  font-size: 18px;
  float: right;
}
