#orderByRating {
  border-radius: 4px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
 font-size: 18px;
}

#orderByPoint {
  border-radius: 4px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 6px;
 padding-bottom: 6px;
 font-size: 18px;
}

