.tabs-bar-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;

}

.tabs-bar {
  padding: 10px;
  margin: 5px;
}

.tabs-bar.active {
  background-color: transparent;
  color: black;
}

