
// External libraries
// @import "bootstrap-sprockets";
// @import "bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import 'font_awesome5.css';

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.overflow {
  width: 1000px;
  height: 300px;
  overflow: auto;
}
