<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
  body {
    background-color: #FdFdFd;
    font-family: Lato, Helvetica, sans-serif;
    width: 65%;
    margin-left: 40px;
  }

  body a {
    font-size: 1rem;
    text-decoration: none;
    color: #46a546;
  }

  body .btn {
    margin: 30px;
  }

  body .btn a {
    background-color: #49A347;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
  }

</style>
</head>
<body>
  <h1>Hi <%= @user.username? ? @user.username : "you" %>!</h1>

  <p>Someone signed this email address up with Terms of Service; Didn't Read, the crowdreading tool at <a href="https://edit.tosdr.org">edit.tosdr.org</a> (or Phoenix as we like to call it). If it wasn't you, please let us know as soon as possible, by emailing <a mailto="team@tosdr.org">team@tosdr.org</a>.</p>

  <p>Please bear in mind that this site is still in beta. You can follow the development at <a href="https://github.com/tosdr/edit.tosdr.org">our repository</a> or on <a href="https://blog.tosdr.org">our blog</a>.</p>

  <p>Being under active development, things can change, a lot, quite quickly. We will notify you if we make changes to our privacy policy or our terms of service. If you have any questions, please email <a mailto="team@tosdr.org">team@tosdr.org</a>.</p>

  <div class="btn"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></div>

  <p>Thanks for your contributions!</p>
  <p>The ToS;DR Team</p>
</body>
</html>
