<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
  body {
    background-color: #FdFdFd;
    font-family: Lato, Helvetica, sans-serif;
    width: 65%;
    margin-left: 40px;
  }

  body a {
    font-size: 1rem;
    text-decoration: none;
    color: #46a546;
  }

  body .btn {
    margin: 30px;
  }

  body .btn a {
    background-color: #49A347;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
  }

</style>
</head>
<body>
  <h1>Hi <%= @user.username? ? @user.username : "" %>! Welcome to ToS;DR!</h1>

  <p>Please confirm your account email through the link below:</p>

  <p><%= link_to 'Confirm', confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>Doing so will make you a confirmed contributor to the Terms of Service; Didn't Read crowdreading tool on <a href="https://edit.tosdr.org">Edit</a> (also referred to as Phoenix). If you did not sign up to this website, please contact us as soon as possible at <a mailto="team@tosdr.org">team@tosdr.org</a>.</p>

  <p>Please keep in mind that this version is still under development. You can follow development or inspect our technical documentation on <a href="https://github.com/tosdr/edit.tosdr.org">github</a>, or on our <a href="https://tosdr.community/">forum</a>.</p>

  <p>We will try to keep you updated on changes. If you have any questions please contact our team at <a mailto="team@tosdr.org">team at tosdr org</a>.</p>

  <div class="btn"><a href="https://edit.tosdr.org">Happy contributing!</a></div>

  <p>The ToS;DR Team</p>
</body>
</html>
