<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
  body {
    background-color: #FdFdFd;
    font-family: Lato, Helvetica, sans-serif;
    width: 65%;
    margin-left: 40px;
  }

  body a {
    font-size: 1rem;
    text-decoration: none;
    color: #46a546;
  }

  body .btn {
    margin: 30px;
  }

  body .btn a {
    background-color: #49A347;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
  }

</style>
</head>
<body>

  <h1>Hello <%= @resource.email %>!</h1>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <div class="btn"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></div>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>

  <p>Happy contributing!</p>
  <p>The ToS;DR Team</p>
</body>
</html>
