<% content_for :title do %>
  <title>Commenting on service <%= @service.id %> (ToS;DR Phoenix)</title>
<% end %>
<%= render "shared/comments_form", object: @service, object_comment: @service_comment %>
