<% content_for :title do %>
  <title>DocRevision <%= @docRevision.id %> (ToS;DR Phoenix)</title>
<% end %>
<div>
  <h1 class="fw2 mv3">
    <%= @docRevision.name %>
  </h1>
  <p class="fw2 mt0 lh-copy">
    Revision: <%= @docRevision.revision %>.
  </p>
  <p class="fw2 mt0 lh-copy">
    Service: <%= @docRevision.service_id %>.
  </p>
</div>
